<!--
  Generated template for the UserDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>{{pageTitle}}</ion-title>
    <ion-buttons end *ngIf="canEdit && !isEdit">
      <button ion-button icon-only (click)="edit()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid no-padding>
    <ion-row text-center>
      <ion-col no-padding>
        <img src="assets/imgs/{{user.first_name}}.png" class="p-image" alt="avatar" height="120px" width="120px" style="border-radius:60px;">
        <p class="display-2">{{user.first_name}} {{user.last_name}}</p>
      </ion-col>
    </ion-row>
    <ion-row class="spacer">
      <ion-col no-padding>
        <ion-row>
          <ion-col no-padding>
            <span class="body-2">Email:</span><br>
            <ion-input type="text" name="email" [(ngModel)]="user.email" [ngClass]="editClass" [disabled]="!isEdit" class="body-2 gray">{{user.email}}</ion-input></ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding>
            <span class="body-2">Phone:</span><br>
            <ion-input type="text" name="phone" [(ngModel)]="user.phone" [ngClass]="editClass" [disabled]="!isEdit" class="body-2 gray">{{user.phone}}</ion-input></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="spacer">
      <ion-col no-padding>
        <span class="body-2">Skills:</span><br>
        <span class="body-2 gray">{{formatSkills(this.dummySkills)}}</span>
      </ion-col>
      <ion-col col-1 *ngIf="isEdit" align-self-center>
        <ion-icon name="create" color="primary" class="editIcon" (click)="editSkills()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="spacer">
      <ion-col no-padding>
        <span class="body-2">Areas of Interest:</span><br>
        <span class="body-2 gray">{{formatSkills(this.dummySkills)}}</span>
      </ion-col>
      <ion-col col-1 *ngIf="isEdit" align-self-center>
          <ion-icon name="create" color="primary" class="editIcon" (click)="editInterests()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="spacer">
      <ion-col no-padding>
        <!--<span class="body-2">Testimonials:</span><br>-->
        <div *ngFor="let t of formatTestimonials(this.dummyTestimonials)" padding text-center>
          <span class="body-2 primary">{{t}}</span>
        </div>
        <!--{{formatTestimonials(this.dummyTestimonials).forEach() =>}}-->
      </ion-col>
    </ion-row>
    <ion-row padding-vertical *ngIf="isEdit">
      <button ion-button block (click)="save()" class="save-button">Save</button>
    </ion-row>
    <ion-row padding-vertical *ngIf="canEdit && !isEdit">
      <button ion-button clear block (click)="logout()"  class="save-button gray">Log Out</button>
    </ion-row>
  </ion-grid>
</ion-content>



