<ion-header>
  <ion-navbar hideBackButton="true" color="dark">
    <ion-title>
      Mentr
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToAccountPage()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="getSearchResults($event)"   [(ngModel)]="searchString"></ion-searchbar>

  <ion-list no-lines no-padding>
      <ion-card *ngFor="let u of users" (click)="selectUser(u)">
        <!--<ion-card-title no-padding text-center>{{u}}</ion-card-title>-->
        <ion-card-content>
          <ion-row align-items-center>
            <ion-col col-3>
              <img src="assets/imgs/default_avatar.png" style="height:50px; width:50px!important;border-radius:25px;opacity: .5">
            </ion-col>
            <ion-col col-9 class="display-2">
              {{u["first_name"]}} {{u["last_name"]}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <!--<span class="body-1 primary">Skills:</span><br>-->
              <span class="body-2 gray" *ngFor="let s of u.skills">{{s}}</span>
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>
    <div *ngIf="!users.length" text-center padding>
      <p class="body-2 gray">Could not find <span class="display-1 primary">{{searchString}}</span>.</p>
    </div>
  </ion-list>

</ion-content>
