// http://ionicframework.com/docs/theming/
@import "../theme/variables";

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.content{
  background-color: #ebebeb;
}

.searchbar-input{
  padding: 6px 35px 6px 55px !important;
}
.p-image{
  border: 2px solid gray;
  box-shadow: 5px 5px 5px lightgrey;
  object-fit: cover;
  opacity: 0.85 !important;
}
.logo-image{
  object-fit: cover;
  width:260px;
  margin: 16px 0;
}
.logo-image-small{
  object-fit: cover;
  height: 40px;
  display:inline-block
}
.body-1{
  font-size:14px !important;
}
.body-2{
  font-size:16px !important;
}
.display-1{
  font-size: 18px !important;
}
.display-2{
  font-size: 24px !important;
}
.gray{
  color:gray !important;
}
.primary{
  color:$primary !important;
}
.white{
  color: whitesmoke !important;
}
